.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 35%;
  padding: 8em 10em 0em 10em;
}

.presentation__img {
  width: 18em;
  border: 5px solid #ff0000;
  border-radius: 50%;
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    color: white;
    text-align: center;
    margin-top: 1em;
  }

  p {
    text-align: center;
    color: #ff0000;
  }
}

.presentation__name {
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.4em solid #ff0000;
  width: 10.6ch;
  animation: mark 0.5s step-end infinite, write 5s steps(12, end) infinite;
}

@keyframes mark {
  50% {
    border-right-color: transparent;
  }
}

@keyframes write {
  20% {
    width: 0ch;
  }
  70% {
    width: 10.6ch;
  }
}
