@use "navBar";
@use "animation";
@use "presentation";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  height: 100vh;
}
.page1 {
  height: 100vh;
  padding-bottom: 20em;
  background: linear-gradient(to bottom, #0b0b0b 0%, #101012 60%, #000000 100%);
}

h2 {
  color: #014486;
  text-shadow: #014486 0px 0px 10px;
}

/* Celulares pequenos (até 640px) - mobile first */
@media (max-width: 639px) {
  .navBar {
    display: flex;
    justify-content: center;

    &__logo {
      padding: 0;
    }

    &__links {
      display: none;
    }
  }
  .container {
    display: flex;
    flex-direction: column-reverse;
  }
}

/* Tablets (entre 640px e 1023px) */
@media (min-width: 640px) and (max-width: 1023px) {
  .navBar {
    &__logo {
      padding-right: 3em;
    }
  }

  .container {
    padding: 0em 8em 0em 2em;
  }

  .page1 {
    padding-bottom: 5em;
  }
}
